@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  font-family: Arial, sans-serif;
  background-color:rgb(74, 0, 0);
  margin: 0;
  padding: 20px;
}

h1 {
  color: #333;
}

button {
  margin: 5px;
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

ul {
  list-style-type: none;
  padding: 0;
}
